.gameBox {
  margin-left:0.2rem;
  margin-right:0.2rem;
  width:2rem;
  height:2rem;
  text-align: center;
  vertical-align: middle;
  color: var(--gb-color);
}
.gameBox:hover {
  color: var(--gb-color);
}
.gameBox.active {
  color: whitesmoke;
  background-color: var(--gb-color);
}
.gameBox.red {
  --gb-color:#eb4034;
}
.gameBox.blue {
  --gb-color:#3434eb;
}
.gameBox.yellow {
  --gb-color:#e0c032;
}
.gameBox.gold {
  --gb-color:#f0ca0d;
}
.gameBox.silver {
  --gb-color:#a5bfd8;
}
.gameBox.crystal {
  --gb-color:#74c6df;
}
.gameBox.fireRed {
  --gb-color:#f2451e;
}
.gameBox.leafGreen {
  --gb-color:#2fe138;
}
.gameBox.ruby {
  --gb-color:#db332a;
}
.gameBox.sapphire {
  --gb-color:#045aff;
}
.gameBox.sapphire.active {
  --gb-color:#007cff;
}
.gameBox.emerald {
  --gb-color:#6ed926;
}
.gameBox.morning {
  background-color: #cad01e;
}
.gameBox.day {
  background-color: #1bccb3;
}
.gameBox.night {
  background-color: #4432bf;
}