.encounterIcon {
  image-rendering: pixelated;
  transform: scale(2);
  margin-right: 12px;
  border-radius: 0;
  --y-pos: 0px;
  --x-pos: 0px;
  background-position: var(--x-pos) var(--y-pos);
}
.male>.encounterIcon {
  --y-pos: -34px;
}
.kanto>.encounterIcon, .johto>.encounterIcon, .hoenn>.encounterIcon, .kanto3>.encounterIcon {
  background-image: url('../encounterIcons.png');
}
.sinnoh>.encounterIcon, .johto4>.encounterIcon {
  background-image: url('../encounterIconsDS.png');
}

/* R B Y */
.kanto.grass>.encounterIcon.walk {
  width: 16px;
  height: 20px;
  --x-pos: 0;
}
.kanto>.encounterIcon.walk {
  width: 13px;
  height: 15px;
  --x-pos: -17px;
}
.kanto>.encounterIcon.surf {
  width: 16px;
  height: 11px;
  --x-pos: -31px;
}
.kanto>.encounterIcon.old-rod, .kanto>.encounterIcon.good-rod, .kanto>.encounterIcon.super-rod {
  width: 22px;
  height: 16px;
  --x-pos: -48px;
}
.kanto>.encounterIcon.pokeflute {
  width: 16px;
  height: 16px;
  --x-pos: -104px;
}
.kanto>.encounterIcon.gift {
  width: 16px;
  height: 16px;
  --x-pos: -71px;
}
.kanto>.encounterIcon.only-one {
  width: 16px;
  height: 16px;
  --x-pos: -88px;
}

/* G S C */
.johto.grass>.encounterIcon.walk {
  width: 15px;
  height: 19px;
  --x-pos: -122px;
}
.johto>.encounterIcon.walk {
  width: 13px;
  height: 15px;
  --x-pos: -138px;
}
.johto>.encounterIcon.old-rod, .johto>.encounterIcon.good-rod, .johto>.encounterIcon.super-rod {
  width: 22px;
  height: 16px;
  --x-pos: -152px;
}
.johto>.encounterIcon.surf {
  width: 16px;
  height: 16px;
  --x-pos: -175px;
}
.johto>.encounterIcon.gift {
  width: 16px;
  height: 16px;
  --x-pos: -192px;
}
.johto>.encounterIcon.headbutt-normal {
  width: 16px;
  height: 16px;
  --x-pos: -209px;
}
.johto>.encounterIcon.headbutt-high {
  width: 16px;
  height: 16px;
  --x-pos: -209px;
}
.johto>.encounterIcon.rock-smash {
  width: 16px;
  height: 16px;
  --x-pos: -226px;
}
.johto>.encounterIcon.gift-egg {
  width: 12px;
  height: 12px;
  --x-pos: -243px;
}
.johto>.encounterIcon.only-one {
  width: 16px;
  height: 16px;
  --x-pos: -192px;
}
.johto>.encounterIcon.pokeflute {
  width: 32px;
  height: 32px;
  --x-pos: -256px;
  --y-pos: 0px;
}

/* FR LG */
.kanto3>.encounterIcon.walk {
  width: 16px;
  height: 18px;
  --x-pos: -353px;
}
.kanto3.grass>.encounterIcon.walk {
  width: 16px;
  height: 20px;
  --x-pos: -336px;
}
.kanto3>.encounterIcon.old-rod, .kanto3>.encounterIcon.good-rod, .kanto3>.encounterIcon.super-rod {
  width: 29px;
  height: 19px;
  --x-pos: -370px;
}
.kanto3>.encounterIcon.surf {
  width: 21px;
  height: 24px;
  --x-pos: -400px;
}
.kanto3>.encounterIcon.gift {
  width: 16px;
  height: 19px;
  --x-pos: -421px;
}
.kanto3>.encounterIcon.rock-smash {
  width: 14px;
  height: 14px;
  --x-pos: -455px;
}
.kanto3>.encounterIcon.only-one {
  width: 10px;
  height: 10px;
  --x-pos: -470px;
}
.kanto3>.encounterIcon.pokeflute {
  width: 24px;
  height: 22px;
  --x-pos: -481px;
}

/* R S E */
.hoenn.grass>.encounterIcon.walk {
  width: 16px;
  height: 24px;
  --x-pos: -606px;
}
.hoenn>.encounterIcon.walk {
  width: 14px;
  height: 21px;
  --x-pos: -623px;
}
.hoenn>.encounterIcon.old-rod, .hoenn>.encounterIcon.good-rod, .hoenn>.encounterIcon.super-rod {
  width: 29px;
  height: 21px;
  --x-pos: -638px;
}
.hoenn>.encounterIcon.wailmer-pail {
  width: 23px;
  height: 20px;
  --x-pos: -668px;
}
.hoenn>.encounterIcon.gift {
  width: 20px;
  height: 22px;
  --x-pos: -692px;
}
.hoenn>.encounterIcon.surf {
  width: 22px;
  height: 27px;
  --x-pos: -713px;
}
.hoenn>.encounterIcon.dive {
  width: 19px;
  height: 24px;
  --x-pos: -736px;
}
.hoenn>.encounterIcon.rock-smash {
  width: 14px;
  height: 14px;
  --x-pos: -920px;
}
.hoenn>.encounterIcon.seaweed {
  width: 19px;
  height: 24px;
  --x-pos: -736px;
}
.hoenn>.encounterIcon.devon-scope {
  width: 14px;
  height: 20px;
  --x-pos: -935px;
}

/* D P Pt */
.sinnoh.grass>.encounterIcon.walk {
  width: 17px;
  height: 29px;
  --x-pos: 0px;
}
.sinnoh>.encounterIcon.walk {
  width: 17px;
  height: 25px;
  --x-pos: -18px;
}
.sinnoh>.encounterIcon.old-rod, .sinnoh>.encounterIcon.good-rod, .sinnoh>.encounterIcon.super-rod {
  width: 30px;
  height: 24px;
  --x-pos: -36px;
}
.sinnoh>.encounterIcon.surf {
  width: 28px;
  height: 30px;
  --x-pos: -67px;
}
.sinnoh>.encounterIcon.gift {
  width: 23px;
  height: 26px;
  --x-pos: -96px;
}
.sinnoh>.encounterIcon.only-one {
  width: 17px;
  height: 17px;
  --x-pos: -120px;
}
.sinnoh>.encounterIcon.rock-smash {
  width: 14px;
  height: 14px;
  --x-pos: -120px;
}
.sinnoh>.encounterIcon.gift-egg {
  width: 12px;
  height: 15px;
  --x-pos: -696px;
  --y-pos: 0px;
}

/* HG SS */
.johto4>.encounterIcon.walk {
  width: 21px;
  height: 25px;
  --x-pos: -510px;
}
.johto4.grass>.encounterIcon.walk {
  width: 21px;
  height: 33px;
  --x-pos: -488px;
}
.johto4>.encounterIcon.old-rod, .johto4>.encounterIcon.good-rod, .johto4>.encounterIcon.super-rod {
  width: 31px;
  height: 25px;
  --x-pos: -532px;
}
.johto4>.encounterIcon.surf {
  width: 25px;
  height: 33px;
  --x-pos: -564px;
}
.johto4>.encounterIcon.gift {
  width: 27px;
  height: 27px;
  --x-pos: -590px;
}
.johto4>.encounterIcon.rock-smash {
  width: 14px;
  height: 14px;
  --x-pos: -120px;
}
.johto4>.encounterIcon.pokeflute {
  width: 35px;
  height: 27px;
  --x-pos: -645px;
}
.johto4>.encounterIcon.gift-egg {
  width: 34px;
  height: 16px;
  --x-pos: -681px;
  --y-pos: 0px;
}
.johto4>.encounterIcon.squirt-bottle {
  width: 27px;
  height: 23px;
  --x-pos: -618px;
}

/* ------------------------Special------------------------ */

/* R B Y */
.kanto>.encounterIcon.only-one.articuno, .kanto>.encounterIcon.only-one.zapdos, .kanto>.encounterIcon.only-one.moltres {
  width: 12px;
  height: 16px;
  --x-pos:-306px;
  --y-pos:-33px;
}
.kanto>.encounterIcon.only-one.mewtwo {
  width: 16px;
  height: 16px;
  --x-pos:-319px;
  --y-pos:-33px;
}

/* G S C */
.johto>.encounterIcon.squirt-bottle.sudowoodo {
  width: 16px;
  height: 16px;
  --x-pos: -289px;
  --y-pos: -33px;
}
.johto>.encounterIcon.only-one.raikou {
  width: 14px;
  height: 16px;
  --x-pos: -289px;
  --y-pos: 0px;
}
.johto>.encounterIcon.only-one.entei {
  width: 14px;
  height: 16px;
  --x-pos: -304px;
  --y-pos: 0px;
}
.johto>.encounterIcon.only-one.suicune {
  width: 16px;
  height: 16px;
  --x-pos: -319px;
  --y-pos: 0px;
}
.johto>.encounterIcon.only-one.lugia {
  width: 15px;
  height: 15px;
  --x-pos: -306px;
  --y-pos: -17px;
}
.johto>.encounterIcon.only-one.ho-oh {
  width: 16px;
  height: 15px;
  --x-pos: -289px;
  --y-pos: -17px;
}

/* FR LG */
.kanto3>.encounterIcon.only-one.articuno {
  width: 24px;
  height: 20px;
  --x-pos: -506px;
  --y-pos: 0px;
}
.kanto3>.encounterIcon.only-one.zapdos {
  width: 24px;
  height: 19px;
  --x-pos: -531px;
  --y-pos: 0px;
}
.kanto3>.encounterIcon.only-one.moltres {
  width: 24px;
  height: 20px;
  --x-pos: -556px;
  --y-pos: 0px;
}
.kanto3>.encounterIcon.only-one.lugia, .hoenn>.encounterIcon.only-one.suicune {
  width: 23px;
  height: 22px;
  --x-pos: -581px;
  --y-pos: 0px;
}
.kanto3>.encounterIcon.only-one.ho-oh, .hoenn>.encounterIcon.only-one.ho-oh {
  width: 24px;
  height: 22px;
  --x-pos: -581px;
  --y-pos: -23px;
}
.kanto3>.encounterIcon.only-one.raikou {
  width: 14px;
  height: 15px;
  --x-pos: -521px;
  --y-pos: -21px;
}
.kanto3>.encounterIcon.only-one.entei {
  width: 14px;
  height: 16px;
  --x-pos: -506px;
  --y-pos: -21px;
}
.kanto3>.encounterIcon.only-one.suicune {
  width: 16px;
  height: 16px;
  --x-pos: -506px;
  --y-pos: -38px;
}
.kanto3>.encounterIcon.only-one.mewtwo {
  width: 16px;
  height: 16px;
  --x-pos: -523px;
  --y-pos: -38px;
}
.kanto3>.encounterIcon.only-one.mew, .hoenn>.encounterIcon.only-one.mew {
  width: 13px;
  height: 25px;
  --x-pos: -540px;
  --y-pos: -20px;
}

/* R S E */
.hoenn>.encounterIcon.only-one.rayquaza {
  width: 32px;
  height: 38px;
  --x-pos: -757px;
  --y-pos: 0px;
}
.hoenn>.encounterIcon.only-one.groudon {
  width: 31px;
  height: 32px;
  --x-pos: -790px;
  --y-pos: 0px;
}
.hoenn>.encounterIcon.only-one.kyogre {
  width: 32px;
  height: 31px;
  --x-pos: -790px;
  --y-pos: -33px;
}
.hoenn>.encounterIcon.only-one.regirock {
  width: 31px;
  height: 30px;
  --x-pos: -823px;
  --y-pos: 0px;
}
.hoenn>.encounterIcon.only-one.registeel {
  width: 31px;
  height: 29px;
  --x-pos: -855px;
  --y-pos: 0px;
}
.hoenn>.encounterIcon.only-one.regice {
  width: 31px;
  height: 30px;
  --x-pos: -823px;
  --y-pos: -31px;
}
.hoenn>.encounterIcon.only-one.dexoys {
  width: 28px;
  height: 29px;
  --x-pos: -855px;
  --y-pos: -31px;
}
.hoenn>.encounterIcon.only-one.latios {
  width: 31px;
  height: 30px;
  --x-pos: -887px;
  --y-pos: -31px;
}
.hoenn>.encounterIcon.only-one.latias {
  width: 32px;
  height: 30px;
  --x-pos: -887px;
  --y-pos: 0px;
}

/* D P Pt */
.sinnoh>.encounterIcon.only-one.uxie {
  width: 27px;
  height: 30px;
  --x-pos: -153px;
  --y-pos: 0px;
}
.sinnoh>.encounterIcon.only-one.mesprit {
  width: 29px;
  height: 29px;
  --x-pos: -184px;
  --y-pos: 0px;
}
.sinnoh>.encounterIcon.only-one.azelf {
  width: 27px;
  height: 30px;
  --x-pos: -217px;
  --y-pos: 0px;
}
.sinnoh>.encounterIcon.only-one.dialga {
  width: 38px;
  height: 62px;
  --x-pos: -449px;
  --y-pos: 0px;
}
.sinnoh>.encounterIcon.only-one.palkia {
  width: 56px;
  height: 62px;
  --x-pos: -392px;
  --y-pos: 0px;
}
.sinnoh>.encounterIcon.only-one.giratina {
  width: 62px;
  height: 61px;
  --x-pos: -329px;
  --y-pos: 0px;
}
.sinnoh>.encounterIcon.only-one.arceus {
  width: 32px;
  height: 51px;
  --x-pos: -296px;
  --y-pos: 0px;
}
.sinnoh>.encounterIcon.only-one.regigigas {
  width: 50px;
  height: 44px;
  --x-pos: -245px;
  --y-pos: 0px;
}
.sinnoh>.encounterIcon.only-one.shaymin {
  width: 21px;
  height: 16px;
  --x-pos: -244px;
  --y-pos: -45px;
}
.sinnoh>.encounterIcon.only-one.darkrai {
  width: 30px;
  height: 30px;
  --x-pos: -213px;
  --y-pos: -31px;
}
.sinnoh>.encounterIcon.only-one.heatran {
  width: 29px;
  height: 28px;
  --x-pos: -183px;
  --y-pos: -31px;
}
.sinnoh>.encounterIcon.only-one.cresselia {
  width: 29px;
  height: 29px;
  --x-pos: -153px;
  --y-pos: -31px;
}

/* HG SS */
.johto4>.encounterIcon.only-one.articuno {
  width: 29px;
  height: 25px;
  --x-pos: -867px;
  --y-pos: 0px;
}
.johto4>.encounterIcon.only-one.zapdos {
  width: 29px;
  height: 23px;
  --x-pos: -837px;
  --y-pos: -25px;
}
.johto4>.encounterIcon.only-one.moltres {
  width: 29px;
  height: 24px;
  --x-pos: -837px;
  --y-pos: 0px;
}
.johto4>.encounterIcon.only-one.mewtwo {
  width: 23px;
  height: 27px;
  --x-pos: -680px;
  --y-pos: -17px;
}
.johto4>.encounterIcon.only-one.raikou {
  width: 19px;
  height: 28px;
  --x-pos: -867px;
  --y-pos: -26px;
}
.johto4>.encounterIcon.only-one.entei {
  width: 21px;
  height: 27px;
  --x-pos: -887px;
  --y-pos: -26px;
}
.johto4>.encounterIcon.only-one.suicune {
  width: 23px;
  height: 27px;
  --x-pos: -909px;
  --y-pos: -26px;
}
.johto4>.encounterIcon.only-one.lugia {
  width: 63px;
  height: 55px;
  --x-pos: -773px;
  --y-pos: 0px;
}
.johto4>.encounterIcon.only-one.ho-oh {
  width: 63px;
  height: 50px;
  --x-pos: -709px;
  --y-pos: 0px;
}
.johto4>.encounterIcon.only-one.latios {
  width: 30px;
  height: 26px;
  --x-pos: -928px;
  --y-pos: 0px;
}
.johto4>.encounterIcon.only-one.latias {
  width: 30px;
  height: 25px;
  --x-pos: -897px;
  --y-pos: 0px;
}
.johto4>.encounterIcon.only-one.kyogre {
  width: 48px;
  height: 32px;
  --x-pos: -959px;
  --y-pos: 0px;
}
.johto4>.encounterIcon.only-one.groudon {
  width: 30px;
  height: 38px;
  --x-pos: -933px;
  --y-pos: 0px;
}
.johto4>.encounterIcon.only-one.rayquaza {
  width: 40px;
  height: 42px;
  --x-pos: -1009px;
  --y-pos: 0px;
}
